{#
    modern/layout.html
    ~~~~~~~~~~~~~~~~~~

    Layout for Modern theme.

    :copyright: Copyright 2011 by Vlad Riscutia
    :license: FreeBSD, see LICENSE file
#}

{% extends "boilerplate/layout.html" %}

{% block extrahead %}
    {{ super() }}

    {# Adjusts document height if sidebar is taller #}
    <script type="text/javascript">
        function adjust() {
            var content = document.getElementsByClassName("content")[0];
            var sidebar = document.getElementsByClassName("sidebar")[0];

            if (sidebar.offsetHeight < content.offsetHeight)
            {
                sidebar.style.minHeight = content.offsetHeight + "px";
            }
        }
        
        $(document).ready(adjust);
        $(window).resize(adjust);
    </script>
{% endblock %}
