{#
    tinkerbase/aggregated.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~

    Front page and following pages aggregating multiple posts per page.

    :copyright: Copyright 2011 by Vlad Riscutia
    :license: FreeBSD, see LICENSE file
#}

{% extends "page.html" %}

{%- set archive_title = archive_title is not defined and ' Blog Archive ' or archive_title %}

{% block body %}
    {{ tinkerer_relbar() }}
    {%- for metadata in posts %}
        {{ timestamp(metadata.date, timestamp_format) }}
        {{ metadata.body }}
        <div class="postmeta">
            {{ author(metadata.author) }}
            {{ tag_list(metadata.filing["tags"]) }}
            {{ comment_count(metadata.comment_count) }}
        </div>
        {%- if not loop.last %}<div class="separator post_separator"></div>{%- endif %}
    {%- endfor %}
    {{ tinkerer_relbar() }}
    <div class="archive_link">
        <a href="{{ pathto('archive') }}">{{ archive_title }}</a>
    </div>
{% endblock %}

