{#
    tinkerbase/layout.html
    ~~~~~~~~~~~~~~~~~~~~~~

    Master layout template for Tinkerer blog themes.

    :copyright: Copyright 2011 by Vlad Riscutia
    :license: FreeBSD, see LICENSE file
#}

{% extends "basic/layout.html" %}

{# Prev/next nav ------------------------------------------------------------ #}

{# characters desplayed before/after prev/next links #}
{%- set prevchar = prevchar is not defined and ' &laquo; ' or prevchar %}
{%- set nextchar = naxtchar is not defined and ' &raquo; ' or nextchar %}

{# Page nav ----------------------------------------------------------------- #}

{# page_nav before or after header (default after) #}
{%- set page_nav_first = page_nav_first is defined or False %}

{# Twitter link ------------------------------------------------------------- #}

{# inclute Twitter link in page_nav (default True) #}
{%- set twitter_in_page_nav = twitter_in_page_nav is not defined and True or twitter_in_page_nav %}

{# Twitter link text (default None) #}
{%- set twitter_link_text = twitter_link_text is not defined and None or twitter_link_text %}}

{# Twitter symbol in link (default True) #}
{%- set twitter_symbol = twitter_symbol is not defined and True or twitter_symbol %}

{# RSS feed ----------------------------------------------------------------- #}

{# include RSS feed link in page_nav (default True) #}
{%- set rss_in_page_nav = rss_in_page_nav is not defined and True or rss_in_page_nav %}

{# RSS link text (default None) #}
{%- set rss_link_text = rss_link_text is not defined and None or rss_link_text %}

{# RSS symbol in link (default True) #}
{%- set rss_symbol = rss_symbol is not defined and True or rss_symbol %}

{# Timestamp format --------------------------------------------------------- #}

{# Timestamp format #}
{%- set timestamp_format = timestamp_format is not defined and 
    '<span class="month">%B</span> <span class="day">%d</span>, <span class="year">%Y</day>' 
    or timestamp_format %}
{%- set timestamp_short_format = timestamp_short_format is not defined and 
    '<span class="month">%b</span> <span class="day">%d</span>' or timestamp_short_format %}

{# Macros ------------------------------------------------------------------- #}

{# Blog header #}
{%- macro blog_header() %}
    <div class="header">
        <h1 class="heading">
            <a href="{{ pathto(pages[0][0]) }}">
                <span>{{ shorttitle|e }}</span>
            </a>
        </h1>
        <span class="tagline">{{ tagline }}</span>
    </div>
{%- endmacro %}

{# Twitter link #}
{%- macro twitter_link() %}
    <a href="http://twitter.com/{{ twitter_id }}" title="@{{ twitter_id }} on Twitter">
        <div class="twitter">
            {%- if twitter_symbol %}<span class="webfont">t</span>{%- endif %}
            {% if twitter_link_text %}{{ twitter_link_text }}{% endif %}
        </div>
    </a>
{%- endmacro %}
 
{# RSS link #}
{%- macro rss_link() %}
    <a href="{%- if rss_service %}{{ rss_service }}{%- else %}{{ pathto('rss') }}{%- endif %}" title="Subscribe via RSS">
        <div class="rss">
            {%- if rss_symbol %}<span class="webfont">B</span>{%- endif %}
            {% if rss_link_text %}{{ rss_link_text }}{% endif %}
        </div>
    </a>
{%- endmacro %}
 
{# List of blog pages #}
{%- macro page_nav() %}
    <div class="page_nav">
        <ul>
            {% for page in pages %}
            <li>
                <a href="{{ pathto(page[0]) }}">{{ page[1] }}</a>
                {%- if not loop.last %}{{ reldelim2 }}{%- endif %}
            </li>
            {% endfor %}
            {%- if rss_in_page_nav %}
            <li class="right">
                {{ rss_link() }}
            </li>
            {%- endif %}
            {%- if twitter_in_page_nav and twitter_id %}
            <li class="right">
                {{ twitter_link() }}
            </li>
            {%- endif %}
        </ul>
    </div>
{%- endmacro %}

{# Navigation #}
{%- macro tinkerer_relbar() %}
    {%- if prev or next %}
    <div class="related">
        <ul>
            {%- if prev %}
            <li>
                {{ prevchar }}<a href="{{ prev.link|e }}">{{ prev.title }}</a>
            </li>
            {%- endif %}
            {%- if next %}
            <li class="right">
                <a href="{{ next.link|e }}">{{ next.title }}</a>{{ nextchar }}
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}
{%- endmacro %}

{# Timestamp #}
{%- macro timestamp(date, fmt) %}
    {%- if date %}
        <div class="timestamp">
            <span>{{ date.strftime(fmt) }}</span> 
        </div>
    {%- endif %}
{%- endmacro %}

{# Author #}
{%- macro author(author_name) %}
    {%- if author_name %}
        <div class="author">
            <span>Posted by {{ author_name }}</span>
        </div>
    {%- endif %}
{%- endmacro %}

{# Tags #}
{%- macro tag_list(post_tags) %}
    {%- if post_tags %}
        <div class="tags">
            <span>
                Tags:
                {% for link, tag in post_tags %}
                    <a href="{{ pathto('tags/' + link + '.html', 1) }}">{{ tag }}</a>
                    {%- if not loop.last %}, {%- endif %}
                {% endfor %}
            </span>
        </div>
    {%- endif %}
{%- endmacro %}

{# Comment count #}
{%- macro comment_count(code) %}
    {%- if code %}
        <div class="comments">
            {{ code }}
        </div>
    {%- endif %}
{%- endmacro %}

{# Blocks ------------------------------------------------------------------- #}

{%- block header %}
    {%- if page_nav_first %}{{ page_nav() }}{%- endif %}
    {{ blog_header() }}
    {%- if not page_nav_first%}{{ page_nav() }}{%- endif %}
{%- endblock %}

{%- block relbar1 %}{%- endblock %}
{%- block relbar2 %}{%- endblock %}

{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

{%- block footer %}
    <div class="footer">
    {%- if show_copyright %}
        {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
    {%- endif %}
    {%- if show_sphinx %}
        Powered by <a href="http://bitbucket.org/vladris/tinkerer/">Tinkerer</a> and <a href="http://sphinx.pocoo.org/">Sphinx</a>.
    {%- endif %}

    {# Comment plug-in can initialize here #}
    {%- if comment_enabler %}{{ comment_enabler }}{%- endif %}
    </div>
{%- endblock %}
