{#
    tinkerbase/tags.html
    ~~~~~~~~~~~~~~~~~~~~

    Tag page.

    :copyright: Copyright 2011 by Vlad Riscutia
    :license: FreeBSD, see LICENSE file
#}

{% extends "page.html" %}

{% block body %}
    <h1>{{ title }}</h1>
    {%- for year in years %}
    <div class="year">
        <h2>{{ year }}</h2>
        <ul>
            {%- for metadata in years[year] %}
            <li>
                <h1><a href="{{ pathto(metadata.link) }}">{{ metadata.title }}</a></h1>
                {{ author(metadata.author) }}
                {{ tag_list(metadata.tags) }}
            </li>
            {%- endfor %}
        </ul>
    </div>
    {%- endfor %}
{% endblock %}
