{#
    minimal/page.html
    ~~~~~~~~~~~~~~~~~

    Page for Minimal theme.

    :copyright: Copyright 2011 by Vlad Riscutia
    :license: FreeBSD, see LICENSE file
#}

{% extends "tinkerbase/page.html" %}

{%- macro minimal_nav() %}
    <div class="page_nav">
        <ul>
            {% for page in pages %}
            <li>
                <a href="{{ pathto(page[0]) }}">{{ page[1] }}</a>
            </li>
            {% endfor %}
            <li class="right">
                <div class="rss">
                    <a href="{%- if rss == 'rss'%}{{ pathto(rss)}}{%- else %}{{ rss }}{%- endif %}">Subscribe</a>
                </div>
            </li>
        </ul>
    </div>
{%- endmacro %}

{%- block header %}
    {{ minimal_nav() }}
    {{ blog_header() }}
{%- endblock %}

