{#
    metropolish/layout.html
    ~~~~~~~~~~~~~~~~~

    Metro-style template.

    :copyright: Copyright 2011 by Vlad Riscutia
#}
{% extends "basic/layout.html" %}

{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{% macro sidebar_list(list_title, list_items, div_class) %}
    <div class="{{div_class}}">
    {% if list_items %}
        <h2>{{list_title}}</h2>
            <ul>
            {% for item in list_items %}
                <a href="{{ pathto(item[0]) }}"><li>{{ item[1] }}</li></a>
            {% endfor %}
            </ul>
    {% endif %}
    </div>
{% endmacro %}

{% macro nav() %}
    {% if prev %}
    <a href="{{ prev.link|e }}">
        <div class="nav_prev">
            <img src="{{ pathto("_static/back.png", 1) }}" />
            <span>{{ prev.title }}</span>
        </div>
    </a>
    {% elif not metadata.is_post %}
    <a href="{{ pathto(latest[0][0]) }}">
        <div class="nav_prev">
            <img src="{{ pathto("_static/home.png", 1) }}" />
        </div>
    </a>
    {% endif %}
    {% if next %}
    <a href="{{ next.link|e }}">
        <div class="nav_next">
            <span>{{ next.title }}</span>
            <img src="{{ pathto("_static/next.png", 1) }}" />
        </div>
    </a>
    {% endif %}
{% endmacro %}

{% macro square(square_definition) %}
    {% if square_definition %}
        {% set (link, image, text) = square_definition.split(";") %}
        <a class="square" href="{{ link if link.startswith("http") else pathto(link) }}">
            <div class="square">
                <img src="{{ pathto(image, 1) }}" />
                <span>{{ text }}</span>
            </div>
        </a>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="toplinks">
        <table>
            <tr>
                <td>{{ square(theme_square1) }}</td> 
                <td>{{ square(theme_square2) }}</td> 
            </tr>
            <tr>
                <td>{{ square(theme_square3) }}</td>
                <td>{{ square(theme_square4) }}</td>
            </tr>
        </table>
    </div>

    <div class="header">
        <h1 class="heading">
            <a href="{{ pathto(latest[0][0]) }}">
                <span>{{ shorttitle|e }}</span>
            </a>
        </h1>
        <h2 class="heading">
            <span>{{ tagline }}</span>
        </h2>
    </div>

    <div class="page">
        <div class="nav">
            {{ nav() }}
        </div>
        <div class="metrosidebar">
            <div id="sidebar_line"></div>
            {{ sidebar_list("Latest Posts", latest, "latest") }}  
            {{ sidebar_list("Pages", pages, "pages") }}
        </div>
        <div class="content"> 
            {% block body %}{% endblock %}
        </div>
        <div style="clear: both"></div>
    </div>
{% endblock %}

