{#
    metropolish/layout.html
    ~~~~~~~~~~~~~~~~~

    Metro-style template.

    :copyright: Copyright 2011 by Vlad Riscutia
#}
{% extends "tinkerbase/layout.html" %}

{% block relbar2 %}{% endblock %}

{% macro square(square_definition) %}
    {% if square_definition %}
        {% set (link, image, text) = square_definition.split(";") %}
        <a class="square" href="{{ link if link.startswith("http") else pathto(link) }}">
            <div class="square">
                <img src="{{ pathto(image, 1) }}" />
                <span>{{ text }}</span>
            </div>
        </a>
    {% endif %}
{% endmacro %}

{% block header %}
    <div class="toplinks">
        <table>
            <tr>
                <td>{{ square(theme_square1) }}</td> 
                <td>{{ square(theme_square2) }}</td> 
            </tr>
            <tr>
                <td>{{ square(theme_square3) }}</td>
                <td>{{ square(theme_square4) }}</td>
            </tr>
        </table>
    </div>
    {{ super() }}
{% endblock %}    

