{% extends "layout.html" %}

{% macro timestamp() %}
    {% if metadata.date %}
        <div class="timestamp">
            <span>{{ metadata.date.strftime("%B %d, %Y") }}</span>
        </div>
    {% endif %}
{% endmacro %}

{% macro tag_list() %}
    {% if post_tags %}
        <div class="tags">
            <span>
                Tags:
                {% for link, tag in post_tags %}
                    <a href="../../../tags/{{ link }}.html">{{ tag }}</a>
                    {%- if not loop.last %}, {% endif %}
                {% endfor %}
            </span>
        </div>
    {% endif %}
{% endmacro %}

{% block body %}
    {{ body }}
    <div class="meta">
        {{ timestamp() }}
        {{ tag_list() }}
    </div>
    {{ comments }}
{% endblock %}
